@model Rubik_Market.Domain.ViewModels.Blog.BlogArea.BlogPostDetailsViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<section class="inner-page blog-inner-page" id="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="blog-container">
                                    <div class="row pt-2 px-3" id="post-title">
                                        <div class="col-12 col-md-8">
                                            <h1>@Model.Title</h1>
                                        </div>
                                        <div class="col-12 col-md-4 text-start text-md-end"><span class="date">ارسال شده در @Model.CreateDate</span></div>
                                    </div>
                                    <hr>
                                    <div class="row py-0 px-3" id="post-details">
                                        <div class="col-8">
                                            <span>دسته بندی: <a href="blog.html">@Model.PostGroup.GroupName</a></span>
                                        </div>
                                        <div class="col-4 text-end"><span>@Model.PostViews بازدید | 3 نظر</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 pt-2 text-justify" id="post-html">
                                                <div class="text-center pt-2 pb-3"><img src="/assets/dynamicImg/BlogPost/@Model.ImageName" alt="@Model.Title"></div>
                                           @Model.Discription
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                            <div id="keywords">
                                                <span>برچسب ها:</span>
                                                @foreach (var item in Model.PostTags)
                                                {
                                                    <a href="#"><span class="keyword">@item.TagName</span></a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3 pb-4 pb-lg-0">
                                        <div class="col-12" id="share-links">
                                            <span>به اشتراک بگذارید در:</span><br class="d-md-none">
                                            <a href="#" target="_blank"><span class="share-link"><img src="assets/images/social/twitter.png" alt="توئیتر" height="25px"> توئیتر</span></a>
                                            <a href="#" target="_blank"><span class="share-link"><img src="assets/images/social/facebook.png" alt="فیس بوک" height="25px"> فیس بوک</span></a>
                                            <a href="#" target="_blank"><span class="share-link"><img src="assets/images/social/linkedin.png" alt="لینکدین" height="25px"> لینکدین</span></a>
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- Comments -->
                                    <div class="row pt-3 pb-4 pb-lg-0">
                                        <div class="col-12 text-justify" id="comments">
                                            <h2>نظرات کاربران</h2>
                                            <div class="comments-container">
                                                <div class="container px-0">
                                                    <div class="row">
                                                        <div class="col-12 pt-2">
                                                            <!-- Show Comments -->
                                                            <div class="comment p-3 my-2">
                                                                <div class="sender-details">
                                                                    <div class="row">
                                                                        <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                            <img src="assets/images/user-no-image.jpg" alt="" class="rounded">
                                                                        </div>
                                                                        <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                            <div class="name">مصطفی کلانتری</div>
                                                                            <div class="date">ارسال شده در 18 تیر 1400</div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <p>این یک متن آزمایشی است که به زودی توسط نویسنده این سایت، تکمیل یا حذف خواهد شد. اگر شما نویسنده‌ی این سایت هستید، برای حذف یا ویرایش این صفحه، کافی است از طریق مرکز مدیریت سایت خود وارد بخش مربوطه شده و محتوای این صفحه را ویرایش یا حذف کنید.</p>
                                                                            <span class="reply"><img src="assets/images/comment-reply.png" alt=""> ارسال پاسخ</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Comment Reply -->
                                                                <div class="row justify-content-end">
                                                                    <div class="col-11 pt-2 pr-0">
                                                                        <div class="comment p-3">
                                                                            <div class="sender-details">
                                                                                <div class="row">
                                                                                    <div class="col-3 col-sm-2 col-md-1 pl-md-0 pl-lg-2 pl-xl-3">
                                                                                        <img src="assets/images/user-no-image.jpg" alt="" class="rounded">
                                                                                    </div>
                                                                                    <div class="col-9 col-sm-10 col-md-11 pr-0 pr-md-2 pr-xl-0 pt-0 pt-lg-1">
                                                                                        <div class="name">امین کیانی</div>
                                                                                        <div class="date">ارسال شده در 18 تیر 1400</div>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <p>صفحات و محتوای آزمایشی همیشه بخشی از محتوای پیش‌نمایش قالب و افزونه های وب هستند که شما بتوانید ارتباط درستی با پیش نمایش قالب گرفته و تصمیم مناسبی بگیرید. این صفحات معمولا برای اطلاعات کلی در مورد سایت مثل «درباره ما»، «تماس با ما»، «فهرست» یا «نظرات شما» مفید هستند.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /Comment Reply -->
                                                            </div>
                                                            <!-- /Show Comments -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Send Comment Form -->
                                            <div class="comments-container">
                                                <div class="row pt-4">
                                                    <div class="col-12"><h2>دیدگاه خود را ارسال کنید</h2></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 py-3">
                                                        <form>
                                                            <div id="send-comment-form">
                                                                <p>نظر خود را برای این مطلب ارسال کنید. نشانی ایمیل شما منتشر نخواهد شد.</p>
                                                                <div class="row">
                                                                    <div class="col-12 px-3 pl-md-1 col-md-6">
                                                                        <div class="form-group my-1">
                                                                            <input type="text" class="form-control" placeholder="* نام شما" required oninvalid="this.setCustomValidity('لطفا نام خود را وارد کنید')" oninput="setCustomValidity('')">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 px-3 pr-md-1 col-md-6">
                                                                        <div class="form-group my-1">
                                                                            <input type="email" class="form-control text-start" placeholder="پست الکترونیک *" required oninvalid="this.setCustomValidity('لطفا پست الکترونیک خود را وارد کنید')" oninput="setCustomValidity('')">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 px-3">
                                                                        <div class="form-group my-1">
                                                                            <textarea class="form-control" id="" rows="4" placeholder="متن دیدگاه"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group my-1">
                                                                            <input type="submit" value="ارسال دیدگاه" class="btn btn-success px-5">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Send Comment Form -->
                                        </div>
                                    </div>
                                    <!-- /Comments -->
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12 col-lg-3">
                            <div class="row">
                                <!-- Side Panel -->
                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                    <div class="blog-side-panel">
                                        <div class="row pt-2 px-3">
                                            <div class="col"><div class="title">پربازدیدترین محصولات</div></div>
                                        </div>
                                        <hr>
                                        <div class="container">
                                            <div class="row">
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url(assets/images/products/p100.png)"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="encode4365gbf265g43d">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url(assets/images/products/p200.png)"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA-DM905</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="encode4365gbf265g43d">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url(assets/images/products/p300.png)"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>هدفون بی سیم سامسونگ مدل Galaxy Buds Live</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="encode4365gbf265g43d">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                                <!-- Side Panel Product -->
                                                <div class="col-12 col-lg-12 px-0 mt-2">
                                                    <a href="product.html">
                                                        <div class="side-blog-product">
                                                            <div class="row pl-3">
                                                                <div class="col-4 pl-2">
                                                                    <div class="image" style="background-image: url(assets/images/products/p400.png)"></div>
                                                                </div>
                                                                <div class="col-8 px-0">
                                                                    <h2>دوربین دیجیتال کانن مدل EOS 2000D به همراه لنز 18-55 میلی متر</h2>
                                                                    <div class="row">
                                                                        <div class="col-8 pl-0">
                                                                            <span class="encode4365gbf265g43d">3.200.000 تومان</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- /Side Panel Product -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @await Component.InvokeAsync("BlogMostViewedPost")
                                <!-- /Side Panel -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>