@model Rubik_Market.Domain.ViewModels.Blog.BlogArea.BlogPostCardViewModel


<div class="col">
    <div class="encode43bdsf23da aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
        <a asp-area="Blog" asp-controller="Blog" asp-action="SingleBlogPost" asp-route-postId="@Model.PostId">
            <div class="post-image" style="background-image: url('/assets/dynamicImg/BlogPost/thumb/@Model.ImageName')"></div>
        </a>
        <div class="details py-3 px-4">
            <div class="post-date">ارسال شده در @Model.CreateDate</div>
            <a asp-area="Blog" asp-controller="Blog" asp-action="SingleBlogPost" asp-route-postId="@Model.PostId">
                <h2 class="post-title">@Model.Title</h2>
            </a>
            <a asp-area="Blog" asp-controller="Blog" asp-action="SingleBlogPost" asp-route-postId="@Model.PostId">
                <div class="encode43bbfb">@Model.ShortDiscription</div>
            </a>
            <div class="read-more"><a asp-area="Blog" asp-controller="Blog" asp-action="SingleBlogPost" asp-route-postId="@Model.PostId">بیشتر خوانید <i class="fa fa-arrow-left hvr-icon"></i></a></div>
        </div>
    </div>
</div>