@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Rubik_Market.Domain.ViewModels.User.Areas.UserProfileViewModel
@{
    ViewData["Title"] = "پروفایل کاربر";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                @await Component.InvokeAsync("UserProfileSideBar", new { id = Model.UserId })
                <!-- /.card-body -->
                <!-- /.card -->

            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" asp-area="Admin" asp-controller="User" asp-action="UserProfile">پروفایل</a></li>
                            @if (Model.AddOrEdit == "Edit")
                            {
                                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="UserEditProfile" asp-route-userId="@Model.UserId">ویرایش کردن پروفایل کاربر</a></li>
                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="UserAddProfile" asp-route-userId="@Model.UserId">اضافه کردن پروفایل کاربر</a></li>
                            }

                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <!-- Post -->
                                <div class="post">
                                    <p>ایمیل : @Model.Email</p>
                                    <p>شماره تماس : @Model.CellPhoneNumber</p>
                                    <p>کد ملی : @Model.NationalCode</p>
                                    <p>تاریخ تولد : @Model.BirthDate</p>
                                    <p>شماره کارت جهت مرجوعی : <span class="RejectCardShowFormat">@Model.CardNumberForRejectMoney</span></p>
                                    <p>تلفن ثابت : @Model.HousePhoneNumber</p>
                                    <p> تاریخ ساخت حساب کاربری : @Model.UserCreateDate.ToShamsi()</p>
                                </div>
                                <!-- /.post -->

                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
                @await Component.InvokeAsync("UserAddresses", new { userId = Model.UserId })
            </div>
            <!-- /.col -->
            
        </div>
        
        
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>