@model List<Rubik_Market.Domain.ViewModels.Blog.BlogArea.BlogPostMostViewedViewModel?>

<div class="col-12 col-sm-6 col-lg-12 px-lg-2">
    <div class="blog-side-panel">
        <div class="row pt-4 pt-sm-2 px-3">
            <div class="col"><div class="title">پربازدیدترین مطالب</div></div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <!-- Side Panel Post -->
                        <div class="col-12 col-lg-12 px-0 mt-2">
                            <div class="side-blog-post">
                                <div class="row pl-3">
                                    <div class="col-4 pl-2">
                                        <a asp-area="Blog" asp-controller="Blog" asp-action="SingleBlogPost" asp-route-postId="@item.PostId">

                                            <div class="image" style="background-image: url(/assets/dynamicImg/BlogPost/thumb/@item.ImageName)"></div>
                                        </a>
                                    </div>
                                    <div class="col-8 px-0">
                                        <a asp-area="Blog" asp-controller="Blog" asp-action="SingleBlogPost" asp-route-postId="@item.PostId"><h2>@item.Title</h2></a>
                                        <div class="row">
                                            <div class="col-12 col-xl-6 pl-0">
                                                <span class="category">دسته بندی: <a href="blog.html">@item.PostGroup</a></span>
                                            </div>
                                            <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                                <span class="date">@item.CreateDate</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Side Panel Post -->
                    }
                }
            </div>
        </div>
    </div>
</div>